
@{
    ViewData["Title"] = "Missing Agenda";
}

<h1>Missing Agenda Items!</h1>
<br />
<h3>Before viewing the Meeting details, please add at least one agenda item!</h3>
<br />
<a asp-action="Index">Back to List</a>